{% load static %}

  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +26 0971004291
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> munalulasikazwe67@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/munalula-sikazwe-a1318">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Munalula-Sikazwe/">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.freecodecamp.org/munalula">
              <i class="fab fa-free-code-camp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
