{% extends 'base.html' %}
{% load static %}



{% block title %} Chose Registration {% endblock %}
{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">
                        <div class="fl-module-content fl-node-content">
                            <h1 class="fl-heading">
                                <span class="fl-heading-text">Matching Tenants <br> with great Realtors.</span>
                            </h1>
                        </div>
                    </h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> registration</li>
                </ol>
            </nav>
        </div>
    </section>
    <div class="fl-module-content fl-node-content">
        <h3 class="fl-heading"></h3>

    </div>
    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>For Tenants</h2>
                    <p class="lead"> Search for a home that is to your liking and track your inquired listings</p>
                    <a href="{% url 'tenant_registration' %}">
                        <button class="btn btn-primary  "> Begin property Search</button>
                    </a>

                    <p class="mt-4"></p>
                </div>
                <div class="col-md-8">
                    <h2>For Realtors</h2>
                    <p class="lead"> Begin connecting with esteemed clients</p>
                    <a href="{% url 'realtor_registration' %}">
                        <button class="btn btn-primary  " > Realtor Up</button>
                    </a>
                    <p class="mt-4"></p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}